*{
    max-width: 992px;
    padding:0;
    margin: 0;
    box-sizing: border-box; /* Cada elemento ficara dentro de seu espaço */
    color:	#000000;
    font-family: 'Oswald', sans-serif;
    margin: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
}


header{
    max-width: 100%;
    align-items: center;
    background-color: #122A57;
    height: 80px;
    justify-content: flex-start;
    margin-bottom: 80px;
}
header h1{
    color: white;
    font-size: 23px;
}
header ul li a{
    color: white;
    font-size: 14px;
}
.listaCabecalho{
    width: 300px;
    justify-content: space-between;   
}


